---
layout: page
title: re:claimID
permalink: /
---

<h2 style="text-align:center">Reclaim your digital identity!</h2>
<div class="mainpage card-columns p-2">
  <div class="card m-2">
    <div class="card-title">
      <i class="fas fa-fist-raised"></i> Self-sovereign
    </div>
    <div class="card-body">
      You manage your identities and attributes locally on your computer. No need to trust a third party service with your data.<br/>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-title">
      <i class="fas fa-project-diagram"></i> Decentralized
    </div>
    <div class="card-body">
      You can share your identity attributes securely over a decentralized name system. This allows your friends to access your shared data without the need of a trusted third party.<br/>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-title">
      <i class="fab fa-openid"></i> Standard-compliant
    </div>
    <div class="card-body">
      You can use OpenID Connect to integrate reclaim in your web sites.<br/>
    </div>
  </div>
</div>
<div class="centering tryit">
  Try it:<br/>
  <a class="btn btn-primary" href="/for-users"><i class="fa fa-user"></i> <span class="lbl">For users</span></a>
  <a class="btn btn-primary" href="/for-websites"><i class="fa fa-globe"></i> <span class="lbl">For websites</span></a>
</div>
