---
layout: page
title: Technology
permalink: /tech/
---
<h2 style="text-align:center">Overview</h2>
<div style="text-align:center">
  <img style="width:35%" src="../assets/reclaim_eq.png"/>
</div>
<br/>
<div class="overview card-columns p-2 mt-4">
  <div class="card m-2">
      <div class="card-title">
        Decentralised identity directory
      </div>
    <div class="card-body">
    The decentralised <i>GNU Name System (GNS)</i> gives users full and exclusive authority over their attributes by sharing them over user-owned namespaces.
    </div>
  </div>
  <div class="card m-2">
    <div class="card-title">
        Cryptographic access control
    </div>
    <div class="card-body">
Users regularly publish fresh, up-to-date attributes which can be retrieved and
read only by authorized relying parties parties without direct user interaction -- even if the user is offline!
    </div>
  </div>

</div>
<h2 style="text-align:center" class="mt-5">Principles</h2>
<div class="card-columns p-2 mt-4 tech">
  <div class="card m-2">
      <div class="card-title">
        Identity and attribute management
      </div>
    <div class="card-subtitle">
      <img style="width:100%" src="../assets/Reclaim-2.png"/>
    </div>
    <div class="card-body">
      Users regularly publish fresh, up-to-date attributes which can be retrieved by requesting parties without direct user interaction -- even if the user is offline!
      Access to attributes is controlled through an ecryption based access
      control layer.
    </div>
  </div>
  <div class="card m-2">
    <div class="card-title">
        Authorization
    </div>
    <div class="card-subtitle">
      <img style="width:100%" src="../assets/Reclaim-3.png"/>
    </div>
    <div class="card-body">
      To access attributes, requesting parties request authorization from the
      user thrugh the use of OpenID Connect.
      If access is granted, the relying party is given the necessary decryption
      key material.
      The user may at any time revoke this access or modify the authorization decision.
    </div>
  </div>

<!--  <div class="card m-2">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character">


        Attribute Sharing
      </div>
    </div>
    <div class="card-body">
      Users selectively share personal data with requesting parties by issuing ABE keys to requesting parties. The keys are generated to match the access policies of the shared attributes:

      <img style="width:80%" src="../assets/Reclaim-2.png"/>
    </div>
</div>-->

  <div class="card m-2">
    <div class="card-title">
        Attribute retrieval
    </div>
    <div class="card-subtitle">
      <img style="width:100%" src="../assets/Reclaim-4.png"/>
    </div>
    <div class="card-body">
      Relying parties retrieve encrypted identity data from the decentralised
      directory.
      It is able to decrypt all those attributes that the user has authorized
      it to access using the respective key.
    </div>
  </div>
</div>
<h2 style="text-align:center" class="mt-5">Videos and Talks</h2>
<ul class="fa-ul">
  <li><i class="fa-li fas fa-caret-right"></i> <a href="https://youtu.be/PlSX-o36Wus?t=5371">IETF Meeting #104; Privacy Enhancements and Assessments Research Group - March 2019</a> (<a href="/assets/files/ietf104reclaim.pdf">Slides</a>)</li>
  <li><i class="fa-li fas fa-caret-right"></i> <a href="https://media.ccc.de/v/ds19-10383-re_claimid">Datenspuren 2019 - September 2019 (German)</a> (<a href="/assets/files/datenspuren2019.pdf">Slides</a>, English)</li>
</ul>



