---
layout: page
title: For users
permalink: /for-users/
---
<div class="alert alert-warning"><b>NOTE</b>: This software is still in development and has not reached a high level of maturity, yet. You are welcome to try it and it would be of great help to us if you <a href="https://gitlab.com/groups/reclaimid/-/issues">report any issues you find.</a></div>

<h2><b>Step 1:</b> Installation</h2>
<b>re:</b>claimID is implemented as part of <a href="https://gnunet.org">GNUnet</a> (Recommended version: <b>&gt;&#61;0.13.2</b>).
<p>Currently, we recommend the use of our
<a href="https://gitlab.com/reclaimid/gnunet-docker">GNUnet docker image</a> due to the lack of packages.</p>



<h3>Docker image:</h3>
<p class="code">$ docker run -v $HOME/.local/share/gnunet:/root/.local/share/gnunet -p 7776:7776 -td reclaimid/gnunet-docker</p>

<h3>Alpine Linux (edge, testing):</h3>
<p class="code">$ apk add gnunet</p>

<h3>Homebrew:</h3>
<p class="code">$ brew install gnunet</p>


<h3>From source:</h3>
Please refer to the <a href="https://gnunet.org/en/install.html">GNUnet installation tutorials</a>

<h2 class="mt-5"><b>Step 2:</b> Browser plugin</h2>
<!--<div class="alert alert-info"><b>NOTE</b>: The Chrome browser plugin is not yet published in the Chrome Web Store.</div>
-->
<p>You also need to install a browser plugin:</p>
<div class="centering">
<a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                                           href="https://addons.mozilla.org/addon/reclaimid/"><i class="fab fa-firefox"></i> Firefox Add-Ons</a>
<a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
  href="https://chrome.google.com/webstore/detail/reclaimid/jiogompmdejcnacmlnjhnaicgkefcfll"><i class="fab fa-chrome"></i> Chrome Web Store</a>
</div>
<br/>
<h2 class="mt-5"><b>Step 3:</b> Creating your first identity</h2>
<p>Almost there. Now try adding a new identity at <a href="https://ui.reclaim">your local re:claimID instance</a> and add some attributes to it.
<br/>

<h2 class="mt-5">Websites supporting re:claimID</h2>
<p>To test a login with one of your re:claimID identities, you can go to one of the websites supporting it:</p>
<ul>
  <li><a href="https://demo.reclaim-identity.io">Our demo messaging board</a> (<a href="https://gitlab.com/reclaimid/demo">Source</a>)</li>
  <li><a href="https://eusec.clouditor.io">Clouditor EUSEC project page</a></li>
</ul>


<h2 class="mt-5">Troubleshooting</h2>
In case you encounter any problems, please check for <a href="https://gitlab.com/groups/reclaimid/-/issues">known issues and report bugs to help us improve re:claimID!</a>

<!--<h2 class="mb-5 mt-5" style="text-align:center">Websites</h2>

Create an identity for your website:
<p class="code">$ gnunet-identity -C $name$</p>
You can freely choose $name$.

Make your website available via GNS:
<p class="code">$ gnunet-namestore -z $name$ -a -n $site$ -t A -V $IP -e 1d -p</p>
$IP is the IP address of your website.

Store the DNS name of your website in GNS.
<p class="code">$ gnunet-namestore -z $name$ -a -n $site$ -t LEHO -V $dns -e 1d -p</p>
$dns$ is the DNS name, e.g. reclaim-identity.io.

Get a TLS certificate in DER format and store the value:
<p class="code">$ HEXCERT=`xxd -p /etc/reclaim/example.der | tr -d '\n'`</p>

Store the TLS certificate as TLSA record:
<p class="code">$ gnunet-namestore -z $name -a -n $site$ -t BOX -V "6 443 52 3 0 0 $HEXCERT" -e 1d -p</p>-->
