---
layout: page
title: For websites
permalink: /for-websites/
---
<div class="alert alert-warning"><b>NOTE</b>: This software is still in development and has not reached a high level of maturity, yet. You are welcome to try it and it would be of great help to us if you <a href="https://gitlab.com/groups/reclaimid/-/issues">report any issues you find.</a></div>

<h2><b>Step 1:</b> Installation</h2>
<b>re:</b>claimID is implemented as part of <a href="https://gnunet.org">GNUnet</a> (Recommended version <b>&gt;&#61;0.13.2</b>).
<p>Currently, we recommend the use of our
<a href="https://gitlab.com/reclaimid/gnunet-docker">GNUnet docker image</a> due to the lack of packages.</p>


<h3>Docker image:</h3>
<p class="code">$ docker run -v $HOME/.local/share/gnunet:/root/.local/share/gnunet -p 7776:7776 -td reclaimid/gnunet-docker</p>

<h3>Alpine Linux (edge, testing)</h3>
<p class="code">$ apk add gnunet</p>

<h3>From source:</h3>
Please refer to the <a href="https://gnunet.org/en/install.html">GNUnet installation tutorials</a>

<h2 class="mt-5"><b>Step 2:</b> Registering an OpenID Connect client</h2>
<p>The easiest way to manage OpenID Connect client is through our CLI tool:</p>
<p class="code">$ gem install reclaim-oidc</p>
<p>To register an OpenID Connect client, execute:</p>
<p class="code">$ reclaim-oidc --add --client-name myclient --redirect-uri https://mywebsite.com/oidc_cb --description "My Client"</p>
<p>You can list all registered clients and your local OpenID Connect metadata required to initiate an authorization code flow by executing:</p>
<p class="code">$ reclaim-oidc --list </p>
<p>The response will look like this</p>
<p class="code">OpenID Connect Provider Information:<br/>
------------------------------------<br/>
Authorize Endpoint: http://localhost:7776/openid/authorize<br/>
Token Endpoint: http://localhost:7776/openid/token<br/>
JSON-Web-Token Algorithm: HS512<br/>
JSON-Web-Token key: secret<br/>
Example Authorization Redirect:<br/>
https://api.reclaim/openid/authorize?client_id=&lt;client_id&gt;&amp;redirect_uri=&lt;redirect_uri&gt;&amp;response_type=code&amp;scope=email%20full_name&amp;nonce=1234<br/>
<br/>
Registered Clients:<br/>
-------------------<br/>
name: myclient<br/>
client_id: &lt;client_id&gt;<br/>
client_secret: &lt;client_secret&gt;<br/>
description: My Client<br/>
redirect_uri: https://mywebsite.com/oidc_cb<br/>
...
</p>
<div class="alert alert-info"><b>NOTE</b>: The client secrets and JWT token signing keys can be configured. However, due to the fact that re:claimID endpoint are running on your local machine, they are not critical.</div>

<h2 class="mt-5"><b>Step 3:</b> Website integration</h2>
<p>You can use the information above to integrate re:claimID as a generic <a href="https://openid.net/specs/openid-connect-core-1_0.html">OpenID Connect Identity Provider</a> into the web application of your choice. The integration steps for this part depend on the application you use. Hence, please refer to your respective documentation or the OpenID Connect specifications.
</p>
<p>The sources of our <a href="https://demo.reclaim-identity.io">demo website</a> can be found in our <a href="https://gitlab.com/reclaimid/demo">gitlab project</a>.</p>
