---
layout: default
permalink: /impressum
---
<div>
<h2 style="text-align: center">Imprint</h2>
<p>The</p>
<p>Fraunhofer-Institut für Angewandte und Integrierte Sicherheit (AISEC)</p>
<p>Lichtenbergstraße 11</p>
<p>85748 Garching</p>
<p>Phone +49 89 322 99 86-0</p>
<br/>
<p>is a constituent entity of the</p>
<br/>
<p>Fraunhofer-Gesellschaft</p>
<p>zur Förderung der angewandten Forschung e.V.</p>
<p>Hansastraße 27 c</p>
<p>80686 München</p>
<p>Internet: <a href="http://www.fraunhofer.de"/>www.fraunhofer.de</a></p>
<p>E-Mail: info(at)zv.fraunhofer.de<p>
<p>and as such has no separate legal status.</p>
</div>
