---
layout: page
permalink: /privacy
---
<h2 style="text-align: center">Data Protection</h2>

<p>When using this website, your personal data will be processed by us as the data controller and stored for as long as is necessary for the fulfilment of the purposes specified and statutory requirements. Below, we will provide information about which data this involves, how it will be processed and to which rights you are entitled to in this regard.</p>
<p>Personal data, as defined by Article 4(1) General Data Protection Regulation (GDPR) includes any information relating to an identified or identifiable natural person.<br> &nbsp;</p>
<h4><a name="_Toc343784611"></a>1. Name and contact data of the data controller and of the corporate Data Protection Officer</h4>
<p>This data protection information is applicable to data processing on the <a href="https://www.fraunhofer.de/en.html" target="_blank" class=" external">www.fraunhofer.de</a> website by the controller:<br> <br> Fraunhofer-Gesellschaft<br> zur Förderung der angewandten Forschung e.V.<br> Hansastraße 27 c<br> 80686 Munich, Germany<br> <br> (hereinafter referred to as “Fraunhofer”)<br> <br> E-Mail: info@zv.fraunhofer.de<br> Telephone: +49 89 1205-0<br> Fax: +49 89 1205-7531</p>
<p><br> The Data Protection Officer at Fraunhofer may be reached at the above-mentioned address, attention of Data Protection Officer or at <a href="mailto:datenschutz@zv.fraunhofer.de" target="_blank" class=" external">datenschutz@zv.fraunhofer.de</a>.</p>
<p>In case you have any questions about data protection law or your rights as the data subject, you may directly contact our Data Protection Officer.<br> &nbsp;</p>
<h4><a name="_Toc343784612"></a>2. Processing personal data and purposes of processing<br> &nbsp;</h4>
<p><b>a) When visiting the website</b></p>
<p>You may access the website <a href="https://www.fraunhofer.de/en.html" target="_blank" class=" external">www.fraunhofer.de</a>without having to disclose any details of your identity. What the browser on your terminal device does automatically is only to send information to the server of our website (e.g. browser type and version, date and time of access) so as to allow a connection with the website. This also includes the IP address of your requesting terminal device. It is temporarily stored in a so-called log file and automatically deleted after 4 days:</p>
<p>The IP address is processed for technical and administrative purposes regarding connection set-up and stability, to guarantee the security and functioning of our website and to be able to track any illegal attacks on the website, if required.</p>
<p>The legal basis for processing the IP address is the first sentence of point (f) of Article 6(1) GDPR. Our legitimate interest ensues from said security interest and the necessity of the unobstructed availability of our website.</p>
<p>We cannot draw any direct conclusions about your identity from processing the IP address and other information in the log file. Moreover, we use cookies and analytics services when you visit our website. For more information on this, please refer to clauses 4 and 5 of this Data Protection Information.</p>
<p><b>b) When registering for events</b></p>
<p>We offer a variety of events through our website on a regular basis, for which you may register online. When registering for an event, you need to enter the following mandatory data. These include:</p>
<ul>
 <li><span class="bulletpointlist">First name and surname</span></li>
 <li><span class="bulletpointlist">Address </span></li>
 <li><span class="bulletpointlist">Email address</span></li>
</ul>
<p>Any other mandatory data are marked as such (e.g. with *). Besides, other data may often be entered voluntarily.</p>
<p>The mandatory data are processed in order to identify the interested persons as participants of the event, to perform the participation contract, and to provide the participants with information pertaining to the event before, during and after the event. The voluntary data allows us to plan and execute the event based on interest and age criteria.</p>
<p>Data processing takes place at the request of the interested participants and is necessary pursuant to the first sentence of point (b) of Article 6 (1) GDPR for the purposes mentioned for the performance of the participation contract and in order to take steps prior to entering into it.</p>
<p>For the registration of our events through our web forms, we work in collaboration with the service provider Mailingwork GmbH, Birkenweg 7, 09569 Oederan (“Mailingwork”). The purpose of the collaboration is to professionally manage online registrations. For this purpose, the entered data is stored on the servers of Mailingwork in Germany.</p>
<p>We have concluded an order processing agreement with Mailingwork. By this agreement, Mailingwork assures that it will process the data on our account in accordance with the General Data Protection Regulation and guarantees the protection of rights of the data subjects.</p>
<p><b>c) When using the ordering service</b></p>
<p>We offer an ordering service on our website that allows you to order annual reports or the Fraunhofer magazine free of cost as a single copy or as a subscription. To order these, we collect the following mandatory data</p>
<ul>
 <li><span class="bulletpointlist">Title</span></li>
 <li><span class="bulletpointlist">First name, surname</span></li>
 <li><span class="bulletpointlist">Address</span></li>
 <li><span class="bulletpointlist">Country</span></li>
</ul>
<p>You may also voluntarily provide additional data (e.g. title, company, department) and provide specifics for your order.</p>
<p>The collection and further processing of this data takes place in order</p>
<ul>
 <li><span class="bulletpointlist">to be able to identify you as our contractual partner</span></li>
 <li><span class="bulletpointlist">to check the entered data for plausibility</span></li>
 <li><span class="bulletpointlist">to process your order.</span></li>
</ul>
<p>Data processing takes place at your request and is necessary pursuant to the first sentence of point (b) of Article 6(1) GDPR for the purposes mentioned for the fulfilment of your order and to take steps prior to entering into the contract.</p>
<p>We work in collaboration with a service provider, lettershop-berlin.de, for processing your order. We manually submit your data to it for your goods to be dispatched. After completion of the order, the service provider will automatically delete the data.</p>
<p>The personal data we collect for the order is stored with us for as long as is necessary for the performance of the contract. If you have ordered a subscription, we will store your data until the termination of the subscription. In case of one-time orders, we will delete your personal data after completion of the delivery.</p>
<p><b>d) When subscribing to a newsletter</b></p>
<p>On various occasions, we offer on our website the option to register for a newsletter or press distribution list. If you have expressly given your consent pursuant to the first sentence of point (a) of Article 6(1) GDPR, we will use your email address to regularly send you information corresponding to your selection. To receive the information, an email address and the desired language version is sufficient.</p>
<p>You may provide additional personal data voluntarily (e.g. name, address and telephone number). We use this data to contact you by telephone or post (e.g. for press invitations).</p>
<p>You will then receive a registration notification by email, which you need to confirm to be able to receive the newsletter (so-called double opt-in). This helps us verify that it is actually you who have initiated the registration.</p>
<p>Unsubscribing is possible at any time, e.g. via a link at the end of each press newsletter. Alternatively, you may also send your unsubscribing request to <a href="mailto:datenschutz@zv.fraunhofer.de" target="_blank" class=" external">datenschutz@zv.fraunhofer.de</a>by email.</p>
<p>After withdrawing your consent for sending the newsletter, your email address will be deleted immediately.</p>
<p>We send our newsletter by means of the service provider Mailingwork GmbH, Birkenweg 7, 09569 Oederan (“Mailingwork”). The email addresses and data of our newsletter recipients are stored on our behalf on the servers of Mailingwork in Germany.</p>
<p>Mailingwork uses this information to send and evaluate the newsletter on our behalf. For this purpose we have concluded an order processing agreement with Mailingwork. By means of this agreement, Mailingwork assures that it processes the data in accordance with the General Data Protection Regulation and guarantees the protection of rights of the data subjects.</p>
<p>Mailingwork assures that personal data is fully protected against unauthorised access. Mailingwork itself does not use the data of our newsletter recipients to write to them or to transfer the data to third parties. As a reliable email sender, Mailingwork is also certified by the Certified Senders Alliance.</p>
<p><b>e) When using the contact form for tenders</b></p>
<p>For queries regarding our tenders, we offer you the option of contacting us directly by means of a contact form provided on the website. The following data are necessary as mandatory data:</p>
<ul>
 <li><span class="bulletpointlist">Title</span></li>
 <li><span class="bulletpointlist">First name and surname</span></li>
 <li><span class="bulletpointlist">Company</span></li>
 <li><span class="bulletpointlist">Department and function</span></li>
 <li><span class="bulletpointlist">Country</span></li>
 <li><span class="bulletpointlist">Telephone number</span></li>
 <li><span class="bulletpointlist">Email address and</span></li>
 <li><span class="bulletpointlist">Your query</span></li>
</ul>
<p>We require your data to determine that the query has come from a company and to be able to answer and process it. Additionally you may provide your address, fax number and homepage and upload files, if required. The data is processed exclusively for processing your query and is not taken into account for any future award procedure.</p>
<p>The processing of data takes place upon your request and is within the framework of answering a contact request supported by our legitimate interest pursuant to the first sentence of point (f) of Article 6(1) GDPR.</p>
<p>The personal data collected by us when you use the contact form will be deleted after completion of your query.</p>
<p>&nbsp;</p>
<h4><a name="_Toc343784613"></a>3. Transfer of personal data to third parties</h4>
<p>Except for the aforementioned cases (registration for events, using the ordering service, subscription to a newsletter), we forward your personal data to third parties only if:</p>
<ul>
 <li><span class="bulletpointlist">you have given your express consent pursuant to the first sentence of point (a) of Article 6(1) GDPR, </span></li>
 <li><span class="bulletpointlist">it is necessary for the performance of a contract with you pursuant to the first sentence of point (b) of Article 6(1) GDPR,</span></li>
 <li><span class="bulletpointlist">A statutory obligation exists for transferring pursuant to the first sentence of point (c) of Article 6(1) GDPR.</span></li>
</ul>
<p>Especially if you have registered for an event, it may be necessary within the scope of performance of the contract that your personal data needs to be transferred to an external organiser. In connection with an event registration, you will be informed about who the organiser is and whether it is an external organiser. This organiser will process personal data within the scope of the event and especially for the management of participants.</p>
<p>Sending personal data to a third country (outside the EU) or an international organisation is excluded.<br> &nbsp;</p>
<h4><a name="_Toc343784614"></a>4. Cookies</h4>
<p>We use cookies on our site. Cookies are small files that are automatically created by your browser and stored on your terminal device (laptop, tablet, smartphone, etc.) when you visit our site. Cookies do not cause any damage to your terminal device and do not contain any virus, trojan or other malware.</p>
<p>Cookies contain information resulting from connection with the specific terminal device used. However, this does not mean that we have immediate knowledge of your identity.</p>
<p>We use cookies to capture statistical data on the use of our website and to evaluate them for optimising our offer for you (cf. clause 5). These cookies enable us to automatically recognize during a new visit to our site that you have visited our site before. These cookies are automatically deleted after a defined time.</p>
<p>The data processed by cookies is necessary for the purposes mentioned with due regard of our legitimate interest pursuant to the first sentence of point (f) of Article 6(1) GDPR.</p>
<p>Most browsers accept cookies automatically. However, you may configure your browser so that cookies are not stored on your computer or that you are always notified before a new cookie is created. The complete disabling of cookies, however, may lead to your not being able to use all functions of our website.</p>
<h4><a name="_Toc343784615"></a>5. Web analysis through Leadlab</h4>
<p>On our website we use the Leadlab service by Wiredminds GmbH and its tracking pixel technology to analyse user behaviour and optimise our site based on it. The service particularly allows us to identify which companies have visited our site. In doing so we do not obtain any information that may identify you directly.</p>
<p>In connection with the use of Leadlab, cookies and tracking pixels are used which allow statistical analysis of the use of this website through your visits. Information, including personal information about your visiting behaviour, is stored in the cookie and sent to Wiredminds or is directly obtained by Wiredminds. The information is processed by Wiredminds, who use a pseudonym in a usage profile for the purpose of analysis. The data is anonymised to the extent possible.</p>
<p>The data thus collected is not used to identify you except with your express consent, nor is the data merged with your personal data as a bearer of the pseudonym.</p>
<p>If IP addresses are collected, they are immediately anonymised after collection by deleting the last number block.</p>
<p>For more information about data protection at Wiredminds, please visit their <a href="https://www.wiredminds.de/en/data-protection/" target="_blank" class=" external">website.</a>.</p>
<p>The data is processed based on our legitimate interest, pursuant to point (f) of Article 6(1) GDPR, to optimise our online offer and our web presence. Wiredminds processes the data on our behalf and we have concluded an order processing agreement with Wiredminds. It ensures that the data processing on our behalf takes place in accordance with the General Data Protection Regulation and that the rights of the data subjects are protected.</p>
<p>If you do not wish that your usage behaviour is recorded and analysed, you may object by means of <a href="https://statistik.fraunhofer.de/track/optout.php?lid=dd5f86817814da995faf987490edd266&amp;lang=EN" target="_blank" class=" external">opt-out cookies</a>An opt-out cookie is set which prevents future capturing of your data when visiting this website. The opt-out cookie is only applicable to this browser and only for our website and is stored on your device. If you delete the cookies in this browser, you need to reset the opt-out cookie.</p>
<h4><a name="_Toc343784616"></a>6. Social plug-ins</h4>
<p>We use so-called social media buttons (also called social media plug-ins) on our website. These are small buttons by means of which you may publish the contents of our website in your profile on social networks.</p>
<p>If you activate such a button, a connection is established between our website and the social network. In addition to the contents in question, the operator of the social network also obtains additional, partly personal, information. For instance, it includes the fact that you are currently visiting our site.<br> <br> The social media buttons are integrated using the so-called Shariff solution. This solution developed by Heise and c’t prevents a connection with a social network from being established just because you access a page with a social media button, without actually activating it. This means that information is sent to the social network only when you press the button.</p>
<p>We use the following social media plug-ins:</p>
<p><b>a) Facebook Ireland Limited: share on Facebook</b></p>
<p>Information is partly transferred to the parent company Facebook Inc., headquartered in the USA. It respects the data protection regulations of the US Privacy Shield and is registered with the US Privacy Shield program of the US Department of Commerce.<br> For the purpose and scope of the data collection and the further processing and use of the data by Facebook as well as your related rights and configuration options for protecting your private space, please refer to the <a href="https://www.facebook.com/about/privacy" target="_blank" class=" external">Facebook privacy notice.</a></p>
<p><b>b) Twitter International Company: share on Twitter</b></p>
<p>Information is partly transferred to the parent company Twitter Inc., headquartered in the USA. It respects the data protection regulations of the US Privacy Shield and is registered with the US Privacy Shield program of the US Department of Commerce.</p>
<p>For more information on data protection with Twitter, please refer to the <a href="https://twitter.com/en/privacy" target="_blank" class=" external">Twitter privacy statement.</a></p>
<p><b>c) Google LLC: share on Google+</b></p>
<p>Google respects the data protection regulations of the US Privacy Shield and is registered with the US Privacy Shield program of the US Department of Commerce.</p>
<p>For more information on data protection with Google, please refer to the <a href="https://policies.google.com/privacy?hl=en" target="_blank" class=" external">Google privacy statement.</a></p>
<p><b>d) XING SE: share on Xing</b></p>
<p>For more information on data protection with XING, please refer to the <a href="https://privacy.xing.com/en" target="_blank" class=" external">XING privacy statement.</a></p>
<p><b>e) LinkedIn: share on LinkedIn</b></p>
<p>Information is partly transferred to the parent company LinkedIn Corporation, headquartered in the USA. It respects the data protection regulations of the US Privacy Shield and is registered with the US Privacy Shield program of the US Department of Commerce.</p>
<p>For more information on data protection with LinkedIn, please refer to the <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" class=" external">LinkedIn privacy statement.</a></p>
<h4><a name="_Toc343784617"></a>7. YouTube</h4>
<p>On the basis of a consent pursuant to the first sentence of point (f) of Article 6(1) GDPR, we use components (videos) of the company YouTube, LLC 901 Cherry Ave., 94066 San Bruno, CA, USA (hereinafter: “YouTube”), a company of Google Inc., Amphitheatre Parkway, Mountain View, CA 94043, USA (hereinafter: “Google”) on our Internet pages.</p>
<p>In so doing we use the option of “extended data protection mode” provided by YouTube.</p>
<p>When you access a page containing an embedded video, a connection to the YouTube servers is established and the contents are displayed on the Internet page through a notification to your browser.</p>
<p>Pursuant to YouTube specifications, in the “extended data protection mode” your data - especially which of our Internet pages you have visited as well as device-specific information including the IP address - is sent to the YouTube servers in the US only when you view the video. By clicking on the video, you give your consent to this transfer.</p>
<p>If you are simultaneously logged on to YouTube, this information is assigned to your YouTube member account. You may prevent this by logging out of your member account before visiting our website.</p>
<p>Google respects the data protection regulations of the US Privacy Shield and is registered with the US Privacy Shield program of the US Department of Commerce.</p>
<p>For more information on data protection in connection with YouTube, please refer to the <a href="https://policies.google.com/privacy?hl=en&amp;gl=de" target="_blank" class=" external">data protection regulations of Google.</a><br> &nbsp;</p>
<h4><a name="_Toc343784618"></a>8. Rights of the data subject</h4>
<p>You have the right:</p>
<p><span class="bulletpointlist">pursuant to Article 7(3) GDPR, to withdraw the consent given to us at any time. This means that in future we may no longer continue to process the data as based on this consent;</span></p>
<p><span class="bulletpointlist">pursuant to Article 15 GDPR, to obtain information about your personal data processed by us. More particularly, you may obtain information about the purpose of processing, the category of the personal data, the categories of recipients, to whom your data has been or is disclosed to, the storage period planned, the existence of a right to request from the controller rectification , erasure, restriction of processing or objection, the existence of a right to lodge a complaint, the source of your data if it has not been collected by us, as well as about the existence of automated decision-making including profiling and, if applicable, significant information about its details;</span></p>
<p><span class="bulletpointlist">pursuant to Article 16 GDPR, to obtain the rectification of inaccurate personal data without undue delay or the completion of your personal data stored with us;</span></p>
<p><span class="bulletpointlist">pursuant to Article 17 GDPR, to obtain the erasure of your personal data stored with us unless processing is necessary to exercise the right to freedom of expression and information, for compliance with a legal obligation , for reasons of public interest, or to establish, exercise or defend legal claims;</span></p>
<p><span class="bulletpointlist">pursuant to Article 18 GDPR, to obtain the restriction of the processing of your personal data if you contest the accuracy of the data, the processing is unlawful but you deny its erasure and we no longer need the data while you still require it for establishing, exercising or defending legal claims or if you have objected to processing pursuant to Article 21 GDPR;</span></p>
<p><span class="bulletpointlist">pursuant to Article 20 GDPR, to receive your personal data that you have provided to us, in a structured, commonly used and machine-readable format or to obtain the transmission to another data controller and</span></p>
<p><span class="bulletpointlist">pursuant to Article 77 GDPR, to lodge a complaint with a supervisory authority. For this, you may normally contact the supervisory authority of your habitual residence or workplace or our company headquarters.<br> &nbsp;</span></p>
<h4><a name="_Toc343784619"></a>9. Information on your right to object pursuant to Article 21 GDPR</h4>
<p><b>You have the right to object, on grounds relating from your particular situation, at any time to processing of your personal data, which is based on point (e) of Article 6(1) GDPR (data processing for the performance of a task carried out in the public interest) and on point (f) of Article 6(1) GDPR (data processing for the purposes of the legitimate interests); this is also applicable to profiling pursuant to Article 4(4) GDPR based on this regulation.</b></p>
<p><b>If you file an objection, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or unless processing serves the establishment, exercise or defence of legal claims. If your objection is directed against the processing of data for the purpose of direct marketing, we will stop the processing immediately. In this case, citing a special situation is not necessary. This is also applicable to profiling, insofar as it is related to such direct marketing.</b></p>
<p><b>If you wish to make use of your right to object, please send an email to <a href="mailto:datenschutz@zv.fraunhofer.de">datenschutz@zv.fraunhofer.de</a>.</b></p>
<p>&nbsp;</p>
<h4><a name="_Toc343784620"></a>10. Data security</h4>
<p>All your personal data is transferred in an encoded manner using the widely used and secure TLS (Transport Layer Security) encryption standard. TLS is a secure and proven standard that is also used for online banking, for instance. You will recognise a secure TLS connection by the additional s after http (i.e., https://..) in the address bar of your browser or from the lock icon in the lower part of your browser, among other things.</p>
<p>Besides, we use suitable technical and organisational security measures to protect your data against accidental or intentional manipulation, partial or complete loss, destruction or against unauthorised access by third parties. Our security measures are continuously being improved as the technology advances.</p>
<h4><a name="_Toc343784622"></a>11. Timeliness and Amendments to this Data Protection Information</h4>
<p>This data protection information as amended in May 2018 is currently applicable.</p>
<p>It may become necessary to change this data protection information due to the further development of our website and its offers or on account of amended legal or official requirements. You may always access and print the latest data protection information on the website at <a href="https://www.fraunhofer.de/en/data-protection-policy.html" target="blank" class=" external">https://www.fraunhofer.de/en/data-protection-policy.html</a>.</p>

