<footer>
  <div class="separator"></div>
  <p>(C) 2020 <a href="https://www.aisec.fraunhofer.de/de/fields-of-expertise/projekte/reclaim.html">Fraunhofer AISEC</a> |</p>
  <p><a href="/impressum.html">Imprint</a> | </p>
  <p><a href="/privacy.html">Privacy</a></p>
</footer>
