<header>
  <div >
    <a href="{{ site.baseurl }}"><img class="logo" src="/assets/reclaim_logo.png"</img></a><br/>
    <span style="font-size: 1em"> Self-sovereign, Decentralised Identity Management and Personal Data Sharing</span>
  </div>
</header>
<aside>
	<div class="container">
    <nav>
        {% for page in site.pages %} {% if page.title %}
				<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %} {% endfor %}
		</nav>
	</div>
</aside>

