$content-width: 90%;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #1f82c0;
$link-hover-color: #1f82c0;
$heading-font: 'Open Sans', sans-serif;
$heading-font-color: #555;
//$heading-font-color: rgba(23,156,125,1);
$light: #E7EDF4;
$header:  #FFFFFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
