
body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: #fff !important;
}
h1,
h2,
h3 {
  font-weight: 400;
  //	color: $heading-font-color;
  font-family: $heading-font;
  line-height: 1.5;
  //border-top: 1px solid #111;
  border-bottom: 1px solid #eee;
}

.fhggreen {
  color: $heading-font-color;
}

h1 {
  color: $main;
  font-size: 2.5em;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  font-size: 2em;
}
header {
  background: $header;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
}
img.logo {
  height: 3em;
}

.card img {
  margin-top: 1em;
}

div.figure {
  text-align:center;
  width: 100%;
  margin: 2em;
}

main {
  padding: 0 15px;
  padding-top: 2em;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  color: #898989;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

.btn {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.tech .card {
  //min-height: 35em;
}

.card-title {
  //color: $heading-font-color;
  text-align: center;
  margin-bottom: 0;
  //color: #eee;
  //background-color: #555;
  //background-color: $heading-font-color;
  //border-bottom: 1px solid #888;
  //min-height: 50px;
}

.card-subtitle {
  color: #333;
  margin: .5em;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
  .overview.card-columns {
    column-count: 2;
  }
}

.btn-primary {
  background-color: #fff;
  color: #555;
  border-radius: 20px;
  font-size: 1em;
  //box-shadow: 0px 0px 3px 0px #eee;
  border: 1px solid #ddd;
  //min-width: 10em;
}

.btn-primary:hover {
  background-color: #555;
  color: #eee;
  border-color: #555;
}

.card-title {
  font-size: 1.5em;
}

.card-columns {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 10%;
  }

  to {
    opacity: 100%;
  }
}

.card.selected {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  //border-color: #343a40;
}

.card tr.openid.text-dimmed {
  color: #eee;
}

.card tr td.name {
  font-weight: bold;
}

.card tr td.value {
  font-style: italic;
}

div.card {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  //box-shadow: 0px 0px 2px 0px #eee;
  border: 1px solid #ddd;
  border-radius: 1em;
  //height: 18em;
}

div.alert {
  border-radius: 0;
}

div.separator {
  height: 1px;
  background-color: #eee;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Aside */

aside {
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
  nav {
    //float: left;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    a {
      text-decoration: none;
      display: inline-block;
      padding: 15px;
      //font-family: 'Muli', sans-serif;
      line-height: 20px;
      margin-bottom: -1px;
      box-shadow: 0;
      &:hover,
      &:active {
        background: $header;
        text-decoration: none;
        color: #1f82c0;
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

aside {
  background-color: #555;
}

aside .container nav a {
  color: #eee;
}

aside .container nav a:hover {
  color: $heading-font-color;
}

.centering {
  text-align: center;
}

footer {
  text-align: center;
  padding: 40px;
}

footer p {
  display: inline-block;
}

.tryit a {
  width: 8em;
  border-radius: 10em;
  font-size: 2em;
}

p.code {
  background-color: #555;
  color: #fff;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #111 inset;
  margin-left: 10%;
  margin-right: 10%;
}

.mainpage .card {
  /*height: 23em;*/
}
